COMPOSE_PROJECT_NAME=mediacenter-stack
DOCKER_SUBNET=172.28.10.0/24
DOCKER_GATEWAY=172.28.10.1
LOCAL_SUBNET=10.42.42.0/24
LOCAL_DOCKER_IP=10.168.1.10
LOCAL_HOST_IP=10.42.42.10
TP_THEME=plex
CONFIG_ROOT=/srv/mediacenter/config
MEDIA_ROOT=/srv/mediacenter/data
PUID=1000
PGID=1000
UMASK=0002
TIMEZONE=America/Sao_Paulo
VPN_TYPE=wireguard
VPN_SERVICE_PROVIDER=windscribe
SERVER_REGIONS=Brazil
SERVER_COUNTRIES=
SERVER_CITIES=
SERVER_HOSTNAMES=
WIREGUARD_PUBLIC_KEY=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=
DNS_ADDRESSES=
WEBUI_PORT_BAZARR=6767
WEBUI_PORT_LIDARR=8686
WEBUI_PORT_PLEX=32400
WEBUI_PORT_OVERSEERR=5055
WEBUI_PORT_PROWLARR=9696
WEBUI_PORT_QBITTORRENT=8201
WEBUI_PORT_RADARR=7878
WEBUI_PORT_SONARR=8989
WEBUI_PORT_PORTAINER=9443
WEBUI_PORT_WATCHTOWER=9000
WEBUI_PORT_SYNCTHING=8384
FLARESOLVERR_PORT=8191
QBIT_PORT_TCP=6881
QBIT_PORT_UDP=6881
RADARR_API_KEY=
SONARR_API_KEY=
LIDARR_API_KEY=
